.hero {
    display: flex;
    text-align: center;
}

.title {
    font-size: 60px;
}

.subtitle {
    font-size: 20px;
}

.control {
    display: inline-block;



}

body {
    align-items: center;
    background: url(../Images/healthy-eating.jpg)
    
}

.searchbar {
    text-align: center;
}

.smallherocontainer {
    display: flex;
}


#ingredient-list-container {
    padding: 25px;
    background-color: white;
}



.container-1 {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;

    width: 920px;
    text-align: center;
}

.section {
    border: 5px solid black;
    height: 400px;
    margin: 15px;

    padding: 0 0 10px 0;
}

.largeSection {
    padding: 0
}

.largecolumn1 {

    grid-column-start: 1;
    grid-column-end: 3;




}

.largecolumn2 {
    grid-column-start: 3;
    grid-column-end: -1;





}