.hero {
    display: flex;
    text-align: center;
}

.title {
    font-size: 60px;
}

.subtitle {
    font-size: 20px;
}

.control {
    display: inline-block;



}

body {
    background: url(../Images/healthy-eating.jpg)
    
}

.searchbar {
    text-align: center;
}


.smallherocontainer {
    display: flex;
}


#ingredient-list-container {
    padding: 25px;
    background-color: white;
}

#button-container{
    border: none;
    padding: 10px 300px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}

.container-1 {
    margin-top: 50px;
    margin-left: 200px;
    /* margin-right: 100px; */
    
    width: 920px;
    text-align: center;
}

.section {
    border: 5px solid black;
    height: 400px;
    margin: 15px;

    padding: 0 0 10px 0;
}

.largeSection {
    padding: 0
}

.largecolumn1 {

    grid-column-start: 1;
    grid-column-end: 3;




}


   
 






#ingredient-list-container{
height: auto;




}